body{
    font-family: "Lato";
    color: #ffbda3;
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    max-width: 800px;
    background: linear-gradient(rgb(213, 72, 32), rgb(191, 105, 12));
}
/* header */
.class-intro {
    background-color: rgb(255, 189, 163,30%);
    width:auto;
    padding: 80px;
    border-bottom: solid 4px;
    color:rgb(255, 189, 163)
}
h1{
    font-family: "Lato";
    font-size: 60px;
    line-height: 40px;
    letter-spacing: normal;
    text-align: left;
    font-weight: 600px;
    font-style: Bold;
    color: #ffbda3;
}

/*main article */

section{
    margin-top: 60px;
}
h2{
    font-family: "Lato";
    font-size: 45px;
    text-align: left;
    font-weight: 400px;
    font-style: medium;
    line-height: normal;
    color: #ffbda3;
}
h3{
    font-family: "Lato";
    font-size: 26px;
    font-weight: 300px;
    font-style: medium;
    color: #ffbda3;
}
h4{
    font-family: "Lato";
    font-size: 24px;
    font-weight: 200px;
    font-style: medium;
    color: #ffbda3;
}
em{
    font-family: "Montagu Slab";
    font-size: 80px;
    font-weight: 300px;
    font-style: normal;
    color: #9c2302;
}

/*main article*/
p{
    font-size: 18px;
    letter-spacing: .25px;
    padding-top: 10px;
    padding-bottom: 16px;
    color:#ffbda3
}
blockquote{
    font-family: "Montagu Slab";
    font-size: 26px;
    text-align: left;
    color: #731900;
}

/*reflection*/
hgroup2{
    color: #bf690c;
}
.reflection {
    font-family: "Montagu Slab";
    font-size: 20px;
    letter-spacing: .25px;
    color: #bf690c;
    background-color:25% #ffbda3;
    border-style: groove;
}