body{
    font-family: "Lato", sans-serif;
    max-width: 700px;
    font-style: normal;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 24px;
    background: linear-gradient(#d54820, #bf690c);
}

/* header */

hgroup{
    font-size: 30px;
    letter-spacing: .25px;
    padding: 20px;
    border-bottom: solid 4px;
    color:#ffbda3
}
h1{
    font-family: "Lato";
    font-size: 60px;
    letter-spacing: normal;
    text-align: left;
    font-weight: 600px;
    font-style: Bold;
    color: #ffbda3;
}

/*main article */

section{
    margin-top: 80px;
}
h2{
    font-family: "Lato";
    font-size: 45px;
    text-align: left;
    font-weight: 400px;
    font-style: medium;
    color: #ffbda3;
}
h3{
    font-family: "Lato";
    font-size: 30px;
    font-weight: 300px;
    font-style: medium;
    color: #ffbda3;
}
h4{
    font-family: "Lato";
    font-size: 24px;
    font-weight: 200px;
    font-style: medium;
    color: #ffbda3;
}
em{
    font-family: "Montagu Slab";
    font-size: 75px;
    font-weight: 300px;
    font-style: normal;
    color: #9c2302;
    padding-block: 14px;
}

/*main article*/
p{
    font-size: 18px;
    letter-spacing: .25px;
    padding-top: 10px;
    padding-bottom: 16px;
    color:#ffbda3
}
blockquote{
    font-family: "Montagu Slab";
    font-size: 26px;
    text-align: left;
    color: #ce2d00;
}

/*reflection*/
.reflection {
    font-family: "Montagu Slab";
    font-size: 20px;
    letter-spacing: .25px;
    color: #bf690c;
    background-color: #ffbda3;
    padding: 80px;
    border-radius: 30px;
    border-style: groove;
}
