body{
    font-family: "Lato", sans-serif;
    max-width: 800px;
    font-style: normal;
    margin-top: 100px;
    background-color: rgb(255, 248, 230)
}

/* Head */

.hgroup-div {
    background-color:rgb(60, 43, 0) ;
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1{
    font-size: 80px;
    letter-spacing: normal;
    font-weight: 600px;
    font-style: Bold;
    color: rgb(60, 43, 0)
}
 hr{ 
    border: 6px solid
    color: rgb(209, 140, 20)
    } */

article{
    margin-bottom: 100px;
}

h2{
    font-size: 45px;
    letter-spacing: normal;
    font-weight: 400px;
    font-style: medium;
    color: rgb(93, 68, 4);
}
h3{
    font-size: 30px;
    letter-spacing: normal;
    font-weight: 300px;
    font-style: medium;
    color: rgb(60, 43, 0);
}
h4{
    font-size: 20px;
    letter-spacing: normal;
    font-weight: 300px;
    font-style: medium;
    color: rgb(60, 43, 0);
}

p{
    font-size: 24px;
    letter-spacing: .25px;
    line-height: 36 px;
    padding-top: 16px;
    padding-bottom: 16px;
    color:rgb(60, 43, 0)
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.montagu-slab-<uniquifier> {
  font-family: "Montagu Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}